<main class="container col-md-5 mt-4 py-4 px-3">
  <section class="d-flex justify-content-center align-items-center p-3 bg-gb-filter mb-3">
    <div class="imgCoffeeContainer mt-3">
        <img class="imgCoffee" src="../../../assets/img/TazaCafeASCII.gif" alt="">
        <div class="imgCoffeeBlock"> </div>
    </div>
  </section>

  <section class="d-flex justify-content-center align-items-center p-4 rounded-3 bg-light-subtle">
    <small class="text-center text-primary-emphasis">
      Apasionado a la tecnología, con
      muchas ganas de seguir aprendiendo
    </small>
  </section>

  <section class="d-flex justify-content-between align-items-start mt-4">
    <div class="">
      <h2 class="mt-1 mb-0 fw-bold">Adal Michael García</h2>
      <small class="fs-6">Desarrollador/Administrador de sistemas</small>
    </div>
    <div class="">
      <img src="../../../assets/img/Avatar.png" alt="" class="h-25 mh-100 rounded-circle img-thumbnail" style="width: 96px; height: 96px;">
    </div>
  </section>

  <section class="mt-4">
    <article class="card border-primary mb-3">
      <div class="card-header bg-primary d-flex align-items-center">
        <h3 class="cardHeader fw-bold">
          <span class="bootstrapIcons"> &#xF4A8;</span>
            Trabajos
        </h3>
      </div>
      <div class="card-body">
        <h6 class="fw-bolder text-primary">Adal Michael García | Ingeniero informático
    </h6>
        <p class="card-text mt-3">
    Experto en administración de sistemas con más de 12 años de experiencia.

    A lo largo de mi carrera, he desarrollado una amplia gama de soluciones informáticas, incluyendo:
        </p>
        <ul class="list-aod">
          <li>
            <strong>Reportes de ventas</strong> que optimizan el análisis y la toma de decisiones.
          </li>
          <li>
            <strong>Herramientas de consulta de datos</strong> que facilitan el acceso y la manipulación de información.
          </li>
          <li>
            <strong>Blogs</strong> que comparten mi conocimiento y experiencia con la comunidad.
          </li>
        </ul>
      </div>
    </article>


    <article class="card border-success mb-3">
      <div class="card-header bg-success d-flex align-items-center">
        <h3 class="cardHeader fw-bold">
          <span class="bootstrapIcons"> &#xF66B;</span>
          Bio
        </h3>
      </div>
      <div class="card-body ms-3">
        <div class="bioCard">
          <span class="bioSpan">1983</span> Nací en David, Provincia de Chiriquí, Panamá.
        </div>
        <div class="bioCard">
          <span class="bioSpan">2011</span> Complete mis estudios de Ingeniería en Sistemas computacionales en la Universidad Latina de Panamá
        </div>
        <div class="bioCard">
          <span class="bioSpan">2012 al presente</span> Inicio labores en Almacén Franklin Jurado
        </div>
      </div>
    </article>

    <article class="card border-info-subtle mb-3">
      <div class="card-header bg-info-subtle d-flex align-items-center">
        <h3 class="cardHeader fw-bold">
          <span class="bootstrapIcons"> &#xF2D4;</span>
          Pasatiempos
        </h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          Electronica, Iot, Juegos de video, Música, etc.
        </p>
      </div>
    </article>

    <article class="card border-warning mb-3">
      <div class="card-header bg-warning d-flex align-items-center">
        <h3 class="cardHeader fw-bold">
          <span class="bootstrapIcons"> &#xF678;</span>
          Contacto
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li class="list-group-item my-1"><a href="https://github.com/aodaru/aodaru"><button class="social-btn"><i class="bi bi-github"></i> &#64;aodaru</button></a></li>
          <li class="list-group-item mb-1"><a href="https://twitter.com/aodaru"><button class="social-btn"><i class="bi bi-twitter-x"></i> &#64;aodaru</button></a></li>
          <li class="list-group-item mb-1"><a href="https://www.instagram.com/aodarug/"><button class="social-btn"><i class="bi bi-instagram"></i> &#64;aodarug</button></a></li>
          <li class="list-group-item mb-1"><a href="https://www.facebook.com/adalg1"><button class="social-btn"><i class="bi bi-facebook"></i> &#64;adalg1</button></a></li>
          <li class="list-group-item"><a href="https://www.linkedin.com/in/adal-garcia-471889197/"><button class="social-btn"><i class="bi bi-linkedin"></i> &#64;adalgarcia</button></a></li>
        </ul>
      </div>
    </article>

  </section>

</main>
